.timer {
    display: flex;
    gap: 10px;
  
    font-weight: 600;
    line-height: 1.4;
    font-size: 14;
    text-transform: uppercase;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .value {
    font-size: 32;
  }
  